<% if (data) { %>
<form method='post' action='/currencies'>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Circulating Supply</th>
        <th>% Change (24h)</th>
        <th>Click to follow</th>
      </tr>
    </thead>
    <tbody>
    <% data.forEach((currency) => { %>
      <tr>
        <td><%=currency.rank%></td>
        <td><%=currency.name%></td>
        <td><%=currency.market_cap_usd%></td>
        <td><%=currency.price_usd%></td>
        <td><%=currency.available_supply%></td>
        <td><%=currency.percent_change_24h%></td>
        <td>
          <input type='checkbox' name='subscribe' value=<%=currency.symbol%>>
      </tr>
    <% }); %>
    </tbody>
  </table>
  <button>Subscribe to selected currencies</button>
</form>
<% } %>
